[submodule "cpp/third_party/rapidjson"]
	path = cpp/third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "cpp/third_party/doctest"]
	path = cpp/third_party/doctest
	url = https://github.com/onqtam/doctest.git
